.container {
    background-color: #FF652F;
    border-radius: 10px;
    padding-bottom: 20px;
}

.btn-color {
    color: black;
    font-weight: 700;
}

h3 {
    align-items: center;
    text-align: center;
    background-color: #FF652F;
    margin-top: 30px;
    border-radius: 10px;
    margin-left: 25%;
    width: 50%;
}