body{
    background-color: black;
    text-align: center;
}

div {
    height: 600px;
    border-style: solid;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    border-color: yellow;
    background-color: #474747;
    border-color: #474747;
    border-style: solid;
    border-radius: 20px;
    border-width: 5px;
    background-repeat: no-repeat;
    background-position: center ;

}

#wordle{
    background-image: url("images/wordle-icon-nl-popup.png"); /*source: https://www.nytimes.com/newsletters/signup/NTWO*/
    background-color: #14A76C;
}

#game1{
    background-color: #FF652F;
    background-size: 40%;
}

#game3{
    background-image: url("images/coinflipreal.png");   /*source: https://www.pngegg.com/en/search?q=coin+flip */
    background-color: #FFE400;
    background-size: 40%;
}

img{
    width: 80%;
}

h1{
    background-color: black;
}

h2{
    font-size: 40px;
}

.bottom{
    position: relative;
    bottom: -375px;
}

@media screen and (min-width: 1000px){
    .right {
        margin-left: 50%;
        width: 45%;
        margin-top: 0%;
        height: 500px;
    }

    .left {
        width: 45%; 
        float: left; 
        margin-left: 4%;
        margin-top: 0%;
        height: 500px;
    
    }

    .bottom{
    position: relative;
    bottom: -275px;
}
}