div {
    height: 800px;
    border-radius: 20px;
    border-style: solid;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    align-items: center;
}

h1{
    text-align: center;
}





@media screen and (min-width: 1000px){

    .container{
        text-align: center;
        height: 110px;
        border: none;

    }

    .letterbox{
        border: solid;
        height: 100px;
        width: 7%;
        margin-left: 10px;
        margin-right: 10px;
        display: inline-block;
        margin-bottom: -40px;
        font-size: 70px;
    }


}