body{
    background-color: #272727;
}

div{
    text-align: center;
    align-items: center;
    border-radius: 20px;
    border-style: solid;
}

.outer{
    background-color: #14A76C;
    height: 950px;
    width: 50%;
    margin-left: 25%;
    border-color:lightgrey;
}

.container{
    height: 110px;
    border: none;
    margin-left: 5%;
    margin-top: 10%;
    width: auto;

}

.letterbox{
    background-color: white;
    width: 17%;
    height: 90px;
    float: left;
    font-size: 50px;
}

.rules{
    background-color: lightgrey;
    font-size: 20px;
    width: 50%;
    margin-left: 25%;
    margin-top: 25px;
}

h1{
    background-color: #14A76C;
    width: 30%;
    margin-left: 35%;
    border-color: lightgrey;
    border-radius: 20px;
    border-style: solid;
    text-align: center;
}




@media screen and (min-width: 1000px){

    .container{
        width: auto;
        margin-bottom: -40px;

    }

    .letterbox{
        width: 14%;
        margin-left: 2%;
        margin-right: 2%;
        height: 110px;
        font-size: 80px;
    }
    
    .outer{
        height: 1100px;
        width: 50%;
        margin-left: 25%;
        float: left;
    }

    .rules{
        margin-top: 1150px;
    }

}